!!! Strict
%html{:lang => "pl_PL", "xml:lang" => "pl_PL", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title plan
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    :css
      html,body,div,span,h1,h2,p,a,strong,ul,li,fieldset,form,label {
        background:transparent;
        border:0;
        font-size:100%;
        margin:0;
        padding:0;
        vertical-align:baseline;
      }

      body {
        color:#222;
        font-family:'lucida grande', 'Segoe UI', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;
        font-size:8pt;
      }

      strong {
        font-weight:700;
      }
      
      #container {
        / width: 820px;
      }

      
      #copy {
        text-align: right;
        font-size: 7pt;
        padding-top:10px;
        padding-right: 20px
      }


      .code {
        height: 15%;
        line-height: 9pt;
      }
      
      .name {
        height: 30%;
        padding: 0 5px;
        line-height: 7pt;
        font-weight: bold;
      }
      
      .lecturer {
        height: 20%;
        line-height: 7pt;
      }
      
      .location {
        height: 15%;
      }
      
      .bottom {
        height: 20%;
        line-height: 15pt;
      }
      
      .week {
        float: left;
        width: 15%;
        height: 100%;
      }
      
      .time {
        float: left;
        width: 70%;
        height: 100%;
      }
      
      .type {
        float: left;
        width: 15%;
        height: 100%;
      }
      
      
      #main {
        width: 100%;
        border-collapse: collapse;
        cellspacing: 0;
        cellpadding: 0;
      }
      
      td {
        border: 1px solid #ccc;
        padding:0;
        margin: 0;
      }
      
      td.hour {
        text-align: center;
        width: 100px
      }
      
      td.entry {
        text-align: center;
        height: 100px;
      }
      
  %body
    #container
      %table#main
        %tr#hours
          - HOURS.each do |hour|
            %td.hour{:colspan => 12}= "%02d:00" % hour
        - @days.each do |day|
          - day.size.times do |row|
            %tr
              - last = 0
              - day.entries.select {|e| e.row == row}.each do |entry|
                %td{:colspan => (el=entry_left(entry))-last}
                %td.entry{:colspan => ew=entry_width(entry)}
                  .code= entry.course_code
                  .name= entry.course_name
                  .lecturer= entry.lecturer
                  .location= entry.location
                  .bottom{:style => "background: ##{entry.type_color}"}
                    .week= entry.week
                    .time= entry.time_string
                    .type= entry.type_code
                - last = el+ew
              - if (c = 180-last) > 0
                %td{:colspan => c}
          
          / - ds = (day.size*100/@row_count)
          / .day{:style => "height: #{ds}%"}
          /   / .day_name{:style => "width: 100px; left: 0; top: 50%"}= day.name
          /   .entries{:style => "height: 100%"}
          /     - day.each do |entry|
          /       .entry{:style => "top: #{entry.row*100/day.size}%; left: #{entry_pos_left(entry.time[:start])}%; width: #{entry_width(entry)}%; height: #{100/day.size}%"}
          /         .e
          /           .code= entry.course_code
          /           .name= entry.course_name
          /           .lecturer= entry.lecturer
          /           .location= entry.location
          /           .bottom{:style => "background: ##{entry.type_color}"}
          /             .week= entry.week
          /             .time= entry.time_string
          /             .type= entry.type_code
      #copy
        Plan wygenerowany przez http://pwr.heroku.com | http://teamon.eu 2010
