!!! Strict
%html{:lang => "pl_PL", "xml:lang" => "pl_PL", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title plan
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    :css
      html,body,div,span,h1,h2,p,a,strong,ul,li,fieldset,form,label {
        background:transparent;
        border:0;
        font-size:100%;
        margin:0;
        padding:0;
        vertical-align:baseline;
      }

      body {
        color:#222;
        font-family:'lucida grande', 'Segoe UI', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;
        font-size:8pt;
      }

      strong {
        font-weight:700;
      }
      
      #container {
        / width: 820px;
      }

      #hours {
        overflow: hidden;
        border-bottom: 1px solid #888;
        padding-left: 5%;
      }
      
      .hour {
        float:left;
        width: 6.67%;
      }
      
      .hour span {
        border-left: 1px solid #888;
        height: 15px;
        text-align:center;
        line-height: 15px;
        display: block;
      }
      
      #copy {
        text-align: right;
        font-size: 7pt;
        padding-top:10px;
        padding-right: 20px
      }
      
      #days { 
        height: 400px;
      }
      
      

      
      .day {
        width: 100%;
        border-bottom: 1px solid #888;
        background-color: #ccc;
      }
      
      .entries {
        position: relative;
        margin-left: 5%;
      }
      
      .day_name {
        text-align: center;
        position: absolute;
        height: 20px;
        line-height: 20px;
       # -webkit-transform: rotate(-90deg);
        # -webkit-transform-origin: 50% 50%;
        background: #f90;
      }
      
      .entry {
        position: absolute;
        height: 100%;
      }
      
      .entry .e {      
        background: #f0f0f0;
        text-align: center;
        font-size: 6pt;
        line-height: 6pt;
        border-left: 1px solid #888;
        border-right: 1px solid #888;
        border-bottom: 1px solid #888;
        height: 100%;
      }
      
      .code {
        height: 15%;
        line-height: 9pt;
      }
      
      .name {
        height: 30%;
        padding: 0 5px;
        line-height: 7pt;
        font-weight: bold;
      }
      
      .lecturer {
        height: 20%;
        line-height: 7pt;
      }
      
      .location {
        height: 15%;
      }
      
      .bottom {
        height: 20%;
        line-height: 15pt;
      }
      
      .week {
        float: left;
        width: 15%;
        height: 100%;
      }
      
      .time {
        float: left;
        width: 70%;
        height: 100%;
      }
      
      .type {
        float: left;
        width: 15%;
        height: 100%;
      }
      
  %body
    #container
      #hours
        - HOURS.each do |hour|
          .hour
            %span= "%02d:00" % hour
      #days
        - @days.each do |day|
          - ds = (day.size*100/@row_count)
          .day{:style => "height: #{ds}%"}
            / .day_name{:style => "width: 100px; left: 0; top: 50%"}= day.name
            .entries{:style => "height: 100%"}
              - day.each do |entry|
                .entry{:style => "top: #{entry.row*100/day.size}%; left: #{entry_pos_left(entry.time[:start])}%; width: #{entry_width(entry)}%; height: #{100/day.size}%"}
                  .e
                    .code= entry.course_code
                    .name= entry.course_name
                    .lecturer= entry.lecturer
                    .location= entry.location
                    .bottom{:style => "background: ##{entry.type_color}"}
                      .week= entry.week
                      .time= entry.time_string
                      .type= entry.type_code
      #copy
        Plan wygenerowany przez http://pwr.heroku.com | http://teamon.eu 2010
