<h2>Kalkulator średniej</h2>
<form action="/srednia" method="post">
  <fieldset>
    <textarea name="data"></textarea>
  </fieldset>
  <div class="actions">
    <input type="submit" class="submit" value="Policz" />
    <input type="button" class="submit" value="Wprowadź własne" />
  </div>
  
  <div id="avg">
  <% if @avg %>
      <% @avg.each do |data| %>
      <div class="semester">
        <h4>Rok i semestr akademicki: <%= data[:info][0] %>, Rok studiów: <%= data[:info][1] %>,   Semestr: <%= data[:info][2] %></h4>
        <table>
          <tr>
            <th class="name">Nazwa kursu</th>
            <th>ECTS</th>
            <th>Ocena</th>
            <th>Srednia</th>
          </tr>
          <% data[:data].each_with_index do |d, i| %>
            <tr>
              <td class="name"><input type="text" value="<%= d[1] %>" /></td>
              <td class="ects"><input type="text" value="<%= d[3] %>" /></td>
              <td class="grade"><input type="text" value="<%= d[4] %>" /></td>
              <% if i==0 %><td class="avg" rowspan="<%= data[:data].size %>"></td><% end %>
            </tr>
          <% end %>
        </table>
      </div>
      <% end %>
  <% end %>    
  </div>

  <div id="howto">
    <h3>Instrukcja obsługi</h3>
    <ul>
      <li>Wbij na cwela (zaloguj się itp)</li>
      <li>Kliknij zakładkę <strong>"Indeks"</strong> (po lewej w menu)</li>
      <li>Skopiuj źródło strony i wklej w pole powyżej</li>
    </ul>
  </div>
</form>